/* https://colorhunt.co/palette/a1ccd1f4f2dee9b3847c9d96 */

.bg-nav
{
  background-color: #7C9D96;
  color: #F4F2DE;
}

.bg-header-card
{
  background-color: #7C9D96;
  color: #FFF;
}

.bg-body-card
{
  background-color: #E9B384;
  color: #000;
}

.bg-alt
{
  background-color: #F4F2DE;
  color: #000;
}

