/* https://colorhunt.co/palette/ffcc70fffadd8ecddd22668d */

.bg-navy
{
  background-color: #22668D;
  color: #fff;
}

.bg-blue
{
  background-color: #8ECDDD;
  color: #fff;
}

.bg-orange
{
  background-color: #E55604;
  color: #fff;
}

.bg-yellow
{
  background-color: #FFFADD;
  color: #000;
}


/* https://colorhunt.co/palette/040d12183d3d5c837493b1a6 */
.bg-black
{
  background-color: #040D12;
  color: #fff;
}

.bg-teal
{
  background-color: #183D3D;
  color: #fff;
}

.bg-night
{
  background-color: #5C8374;
  color: #fff;
}

.bg-winter
{
  background-color: #93B1A6;
  color: #fff;
}

/* https://colorhunt.co/palette/ebe4d1b4b4b326577ce55604 */

.bg-gray
{
  background-color: #B4B4B3;
  color: #fff;
}

.bg-beige
{
  background-color: #EBE4D1;
  color: #000;
}