/* https://colorhunt.co/palette/f8f0e5eadbc8dac0a3102c57 */

.bg-nav
{
  background-color: #102C57;
  color: #fff;
}

.bg-header-card
{
  background-color: #DAC0A3;
  color: #000;
}

.bg-body-card
{
  background-color: #F8F0E5;
  color: #000;
}

.bg-alt
{
  background-color: #EADBC8;
  color: #000;
}

