/* https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9 */

.bg-nav
{
  background-color: #352F44;
  color: #fff;
}

.bg-header-card
{
  background-color: #5C5470;
  color: #FAF0E6;
}

.bg-body-card
{
  background-color: #B9B4C7;
  color: #000;
}

.bg-alt
{
  background-color: #FAF0E6;
  color: #000;
}

