/* https://colorhunt.co/palette/ecf8f9068da97e1717e55807 */

.bg-nav
{
  background-color: #7E1717;
  color: #FFF;
}

.bg-header-card
{
  background-color: #E55807;
  color: #ECF8F9;
}

.bg-body-card
{
  background-color: #068DA9;
  color: #ECF8F9;
}

.bg-alt
{
  background-color: #ECF8F9;
  color: #000;
}

