/* https://colorhunt.co/palette/2a2f4f917fb3e5beecfde2f3 */

.bg-nav
{
  background-color: #2A2F4F;
  color: #FCFFE7;
}

.bg-header-card
{
  background-color: #917FB3;
  color: #fff;
}

.bg-body-card
{
  background-color: #E5BEEC;
  color: #000;
}

.bg-alt
{
  background-color: #FDE2F3;
  color: #000;
}

