/* https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9 */

.bg-nav
{
  background-color: #2C3639;
  color: #fff;
}

.bg-header-card
{
  background-color: #3F4E4F;
  color: #fff;
}

.bg-body-card
{
  background-color: #F9F5F6;
  color: #000;
}

.bg-alt
{
  background-color: #EEEEEE;
  color: #000;
}

