.bg-nav
{
  background-color: #967E76;
  color: #FFF;
}

.bg-header-card
{
  background-color: #967E76;
  color: #EEE3CB;
}

.bg-body-card
{
  background-color: #D7C0AE;
  color: #000;
}

.bg-alt
{
  background-color: #EEE3CB;
  color: #000;
}

