/* https://colorhunt.co/palette/2b3467bad7e9fcffe7eb455f */

.bg-nav
{
  background-color: #2B3467;
  color: #FCFFE7;
}

.bg-header-card
{
  background-color: #EB455F;
  color: #FCFFE7;
}

.bg-body-card
{
  background-color: #BAD7E9;
  color: #000;
}

.bg-alt
{
  background-color: #FCFFE7;
  color: #000;
}

